[logging]
debug = true
log_level = "info"
logging_to_cloud_watch_enabled = false

[kafka_broker]
enabled = true
address = "kafka:29092"
topic = "platform.notifications.ingress"
timeout = "60s"
likelihood_threshold = 0
impact_threshold = 0
severity_threshold = 0
total_risk_threshold = 3
event_filter = "totalRisk >= totalRiskThreshold"
tag_filter_enabled = false
tags = []

[service_log]
client_id = "a-service-id"
client_secret = "a-secret"
created_by = "service-account-ccx-notification-service"
username ="insights-advisor"
token_url = ""
enabled = false
url = "localhost:8000/api/service_logs/v1/clusters/cluster_log/"
timeout = "15s"
likelihood_threshold = 0
impact_threshold = 0
severity_threshold = 0
total_risk_threshold = 3
event_filter = "totalRisk > totalRiskThreshold"
rule_details_uri = "https://console.redhat.com/openshift/insights/advisor/recommendations/{module}|{error_key}"
tag_filter_enabled = false
tags = ["osd_customer"]

[storage]
db_driver = "postgres"
pg_username = "postgres"
pg_password = "postgres"
pg_host = "localhost"
pg_port = 5432
pg_db_name = "notification"
pg_params = "sslmode=disable"
log_sql_queries = true

[dependencies]
content_server = "localhost:8082"
content_endpoint = "/api/v1/content"
template_renderer_server = "localhost:8083"
template_renderer_endpoint = "/v1/rendered_reports"

[notifications]
insights_advisor_url = "https://console.redhat.com/openshift/insights/advisor/clusters/{cluster_id}"
cluster_details_uri = "https://console.redhat.com/openshift/details/{cluster_id}#insights"
rule_details_uri = "https://console.redhat.com/openshift/details/{cluster_id}/insights/{module}/{error_key}"
# valid units are SQL epoch time units: months days hours minutes seconds"
cooldown = "1 minutes"

[metrics]
job_name = "ccx_notification_service"
namespace = "ccx_notification_service"
subsystem = "devel"
gateway_url = "localhost:9091"
gateway_auth_token = ""
gateway_time_between_push = "3s"

[cleaner]
# valid units are SQL epoch time units: months days hours minutes seconds"
max_age = "90 days"

[processing]
filter_allowed_clusters = true
allowed_clusters = ["34c3ecc5-624a-49a5-bab8-4fdc5e51a266", "a7467445-8d6a-43cc-b82c-7007664bdf69", "ee7d2bf4-8933-4a3a-8634-3328fe806e08"]
filter_blocked_clusters = false
blocked_clusters = ["bbbbbbbb-0000-0000-0000-000000000000", "bbbbbbbb-1111-1111-1111-111111111111", "bbbbbbbb-2222-2222-2222-222222222222"]

[kafka_zerolog]
broker = ""
topic = ""
cert_path = ""
level = ""

[cloudwatch]
aws_access_id = "a key id"
aws_secret_key = "tshhhh it is a secret"
aws_session_token = ""
aws_region = "us-east-1"
log_group = "platform-dev"
stream_name = "insights-results-aggregator"
debug = false
create_stream_if_not_exists = true
