---
apiVersion: v1
kind: Template
metadata:
  name: ccx-notification-service
objects:

- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: ccx-notification-service
  spec:
    envName: ${ENV_NAME}
    dependencies:
      - ccx-notification-writer
    database:
      sharedDbAppName: ccx-notification-writer
    testing:
      iqePlugin: ccx
    jobs:
      - name: to-notification-backend
        schedule: ${JOB_SCHEDULE__NOTIFICATION_BACKEND}
        restartPolicy: Never
        concurrencyPolicy: Forbid
        activeDeadlineSeconds: ${{JOB_DEADLINE__NOTIFICATION_BACKEND}}
        suspend: ${{SUSPEND_JOB__NOTIFICATION_BACKEND}}
        successfulJobsHistoryLimit: 60
        failedJobsHistoryLimit: 60
        podSpec:
          image: ${IMAGE}:${IMAGE_TAG}
          resources:
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
            requests:
              cpu: ${CPU_REQUEST}
              memory: ${MEMORY_REQUEST}
          env:
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__ADDRESS
            value: ${KAFKA_BOOTSTRAP_HOST}:${KAFKA_BOOTSTRAP_PORT}
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__TOPIC
            value: ${OUTGOING_TOPIC}
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__TIMEOUT
            value: 60s
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__ENABLED
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__ENABLED
            value: 'false'
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__TOTAL_RISK_THRESHOLD
            value: "3"
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__LIKELIHOOD_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__IMPACT_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__SEVERITY_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__EVENT_FILTER
            value: "totalRisk >= totalRiskThreshold"
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__COOLDOWN
            value: ${NOTIFICATION_RESEND_COOLDOWN_NOTIFICATION_BACKEND}
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__DB_DRIVER
            value: postgres
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__PG_PARAMS
            value: sslmode=disable
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__LOG_SQL_QUERIES
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__LOGGING__DEBUG
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__LOGGING__LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__CONTENT_SERVER
            value: http://ccx-insights-content-service:${CONTENT_SERVICE_PORT}/api/v1/
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__CONTENT_ENDPOINT
            value: content
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__INSIGHTS_ADVISOR_URL
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}"
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__CLUSTER_DETAILS_URI
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}"
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__RULE_DETAILS_URI
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}?first={module}|{error_key}"
          - name: CCX_NOTIFICATION_SERVICE__METRICS__JOB_NAME
            value: ccx_notification_service
          - name: CCX_NOTIFICATION_SERVICE__METRICS__NAMESPACE
            value: ${METRICS_NAMESPACE}
          - name: CCX_NOTIFICATION_SERVICE__METRICS__SUBSYSTEM
            value: notification_backend
          - name: CCX_NOTIFICATION_SERVICE__METRICS__GATEWAY_URL
            valueFrom:
              secretKeyRef:
                key: server
                name: push-gateway-basic-auth
          - name: CCX_NOTIFICATION_SERVICE__METRICS__GATEWAY_AUTH_TOKEN
            valueFrom:
              secretKeyRef:
                key: credentials_b64
                name: push-gateway-basic-auth
          - name: CCX_NOTIFICATION_SERVICE__METRICS__RETRIES
            value: ${METRICS_PUSH_RETRIES}
          - name: CCX_NOTIFICATION_SERVICE__METRICS__RETRY_AFTER
            value: ${METRICS_PUSH_RETRIES_COOLDOWN}
          command:
            - /bin/sh
            - -c
            - ./ccx-notification-service --instant-reports --verbose
      - name: to-service-log
        schedule: ${JOB_SCHEDULE__SERVICE_LOG}
        restartPolicy: Never
        concurrencyPolicy: Forbid
        activeDeadlineSeconds: ${{JOB_DEADLINE__SERVICE_LOG}}
        suspend: ${{SUSPEND_JOB__SERVICE_LOG}}
        successfulJobsHistoryLimit: 60
        failedJobsHistoryLimit: 60
        podSpec:
          image: ${IMAGE}:${IMAGE_TAG}
          resources:
            limits:
              cpu: ${CPU_LIMIT}
              memory: ${MEMORY_LIMIT}
            requests:
              cpu: ${CPU_REQUEST}
              memory: ${MEMORY_REQUEST}
          env:
          - name: CCX_NOTIFICATION_SERVICE__KAFKA_BROKER__ENABLED
            value: 'false'
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__ENABLED
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: ccx-notification-service-auth
                key: ocmclient_id
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: ccx-notification-service-auth
                key: ocmclient_secret
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__URL
            value: ${SERVICE_LOG__URL}
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__TIMEOUT
            value: '10s'
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__LIKELIHOOD_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__IMPACT_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__SEVERITY_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__TOTAL_RISK_THRESHOLD
            value: "0"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__EVENT_FILTER
            value: "totalRisk >= totalRiskThreshold"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__RULE_DETAILS_URI
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/recommendations/{module}|{error_key}"
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__COOLDOWN
            value: ${NOTIFICATION_RESEND_COOLDOWN_SERVICE_LOG}
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__DB_DRIVER
            value: postgres
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__PG_PARAMS
            value: sslmode=disable
          - name: CCX_NOTIFICATION_SERVICE__STORAGE__LOG_SQL_QUERIES
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__LOGGING__DEBUG
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__LOGGING__LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__CONTENT_SERVER
            value: http://ccx-insights-content-service:${CONTENT_SERVICE_PORT}/api/v1/
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__CONTENT_ENDPOINT
            value: content
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__TEMPLATE_RENDERER_SERVER
            value: ${TEMPLATE_RENDERER_SERVER}
          - name: CCX_NOTIFICATION_SERVICE__DEPENDENCIES__TEMPLATE_RENDERER_ENDPOINT
            value: "v1/rendered_reports"
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__INSIGHTS_ADVISOR_URL
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}"
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__CLUSTER_DETAILS_URI
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}"
          - name: CCX_NOTIFICATION_SERVICE__NOTIFICATIONS__RULE_DETAILS_URI
            value: "https://${PLATFORM_UI_HOSTNAME}/openshift/insights/advisor/clusters/{cluster_id}?first={module}|{error_key}"
          - name: CCX_NOTIFICATION_SERVICE__METRICS__JOB_NAME
            value: ccx_notification_service
          - name: CCX_NOTIFICATION_SERVICE__METRICS__NAMESPACE
            value: ${METRICS_NAMESPACE}
          - name: CCX_NOTIFICATION_SERVICE__METRICS__SUBSYSTEM
            value: service_log
          - name: CCX_NOTIFICATION_SERVICE__METRICS__GATEWAY_URL
            valueFrom:
              secretKeyRef:
                key: server
                name: push-gateway-basic-auth
          - name: CCX_NOTIFICATION_SERVICE__METRICS__GATEWAY_AUTH_TOKEN
            valueFrom:
              secretKeyRef:
                key: credentials_b64
                name: push-gateway-basic-auth
          - name: CCX_NOTIFICATION_SERVICE__METRICS__RETRIES
            value: ${METRICS_PUSH_RETRIES}
          - name: CCX_NOTIFICATION_SERVICE__METRICS__RETRY_AFTER
            value: ${METRICS_PUSH_RETRIES_COOLDOWN}
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__TAG_FILTER_ENABLED
            value: 'true'
          - name: CCX_NOTIFICATION_SERVICE__SERVICE_LOG__TAGS
            value: 'osd_customer'
          command:
            - /bin/sh
            - -c
            - ./ccx-notification-service --instant-reports --verbose

    kafkaTopics:
      - topicName: ${OUTGOING_TOPIC}
        partitions: 3
        replicas: 3


parameters:
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/ccx-notification-service
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: 'true'
- description: ClowdEnv Name
  name: ENV_NAME
  required: true
- name: LOG_LEVEL
  description: logging level
  value: info
- name: KAFKA_BOOTSTRAP_HOST
  required: true
  value: mq-kafka
- name: KAFKA_BOOTSTRAP_PORT
  required: true
  value: '29092'
- name: OUTGOING_TOPIC
  required: true
  value: platform.notifications.ingress
- description: Should the cron job be disabled?
  name: SUSPEND_JOB__NOTIFICATION_BACKEND
  value: 'false'
- description: Should the cron job be disabled?
  name: SUSPEND_JOB__SERVICE_LOG
  value: 'false'
- description: How many seconds to wait until the notification-backend job is aborted
  name: JOB_DEADLINE__NOTIFICATION_BACKEND
  value: "3600"
- description: How many seconds to wait until the service-log job is aborted
  name: JOB_DEADLINE__SERVICE_LOG
  value: "3600"
- description: When the cronjob runs for the notification backend
  name: JOB_SCHEDULE__NOTIFICATION_BACKEND
  value: '*/3 * * * *'
- description: When the cronjob runs for the service log
  name: JOB_SCHEDULE__SERVICE_LOG
  value: '*/3 * * * *'
- name: CPU_LIMIT
  value: 500m
- description: memory limit of service
  name: MEMORY_LIMIT
  value: 512Mi
- name: CPU_REQUEST
  value: 100m
- description: memory request of service
  name: MEMORY_REQUEST
  value: 256Mi
- name: DATABASE_SERVICE_NAME
  required: true
  value: ccx-notification-db
- name: PLATFORM_UI_HOSTNAME
- name: CONTENT_SERVICE_PORT
- name: NOTIFICATION_RESEND_COOLDOWN_NOTIFICATION_BACKEND
  value: 24h
- name: NOTIFICATION_RESEND_COOLDOWN_SERVICE_LOG
  value: '0'
- name: METRICS_NAMESPACE
  value: ccx_notification_service
- name: METRICS_PUSH_RETRIES
  value: '3'
- name: METRICS_PUSH_RETRIES_COOLDOWN
  value: 60s
- description: Maximum age for reports cleanup on startup
  name: CLEANUP_MAX_AGE
  value: '8 days'
- description: Domain name and port of the content template renderer API
  name: TEMPLATE_RENDERER_SERVER
# Service Log
- description: URL of the Service Log API
  name: SERVICE_LOG__URL
